<p class="post">Post: <%=@post.message%></p>
<form method="post" action="/new_comment">
  <label for="name">Name</label><br>
  <input name="name" type="text"><br><br>
  <label for="comment">Comment</label><br>
  <textarea name="comment" rows="4" cols="50"></textarea><br>
  <input class="button submit" value="Submit" type="submit">
</form>

<form method="get" action="/posts">
  <input class="button" value="View Posts" type="submit">
</form>