<form id='post_form' style='text-align: center;' method="post" action="/new_post">
  <label for="name">Name</label><br>
  <input name="name" type="text"><br>
  <label for="message">Message</label><br>
  <textarea name="message"></textarea><br>
  <input value="Submit" type="submit">
</form>
