<form id='post_form' method="post" action="/new_post">
  <label for="name">Name</label><br>
  <input name="name" type="text"><br><br>
  <label for="message">Message</label><br>
  <textarea name="message" rows="4" cols="50"></textarea><br>
  <input class="button submit" value="Submit" type="submit">
</form>

<form method="get" action="/posts">
  <input class="button" value="View Posts" type="submit">
</form>