<form action="/posts/new" method="get">
  <input class="button" type="submit" value="New Post">
<form>

<% if @posts.empty? %>
  <p>There are no posts yet!</p>
<% end%>

<% @posts.reverse_each do | post |%>
  <section class="post section">
    <p class="post author"><%=post.name%></p>
    <p class="post message"><%=post.message%></p>
  </section>
<% end %>
