<h2>Sign up</h2>
<form method="post" action="/new_user">
  <label for="name">Name</label><br>
  <input class="name" name="username" type="text"><br><br>
  <label for="password">Password</label><br>
  <input class="name" name="password" type="password"><br>
  <input class="button submit" value="Submit" type="submit">
</form>